/* General */
$borderRadius:0.5rem;             /* border radius of layout element e.g. card, sidebar */ 
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */ 